@use "@/assets/styles/base";
@use "@/assets/styles/mixins";
@use "@/assets/styles/variables" as colors;

* {
    margin: 0;
    padding: 0;
}

html,
body,
#root,
#container {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0a0a23;
    color: white;
}